.footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 60px 0px;
    background-color: #f6f6f6;
}
.footer-item p{
    text-transform: lowercase;
    margin: 5px 0px;
    cursor: pointer;
    color: rgb(90, 85, 85);
    transition: .2s;
}

.footer-item p:hover{
    color: rgb(0, 0, 0);
}

@media only screen and (max-width:668px) {
    .footer-top{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}